.background_container {
  background-image: url("../assets/icons/Hero.svg");
  height: 120vh;
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
}

.muted_color {
  background-color: rgba(17, 12, 36, 0.6);
}

@media (max-width: 700px) {
  .background_container {
    background-image: url("../assets/images/Hero_mobile.svg");
  }
}
/* 
@media (max-width: 3000px) {
  .background_container {
    background-image: url("../assets/icons/Hero.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
  }
}

@media screen and (max-width: 960px) {
  .background_container {
    background-image: url("../assets/icons/Hero.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
  }
}

@media screen and (min-width: 961) and (max-width: 1200px) {
  .background_container {
    background-image: url("./assets/images/404_phone.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
  }
}

@media (min-width: 1201) and (max-width: 1920px) {
  .background_container {
    background-image: url("../assets/icons/Hero.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
  }
} */
